<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ClarionSelenium_Suite">
  <test thread-count="5" name="ClarionSelenium_Test">
    <classes>
    	<class name="com.clarion.TestCases.TC4_clarion_LogPromise_verifyPromiseAdded_04"/>
      <method>
      </method>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
